<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512467840540-gce5hi3slij58lqns9lel9ajj2pi4gs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512467840540-gce5hi3slij58lqns9lel9ajj2pi4gs9</string>
	<key>API_KEY</key>
	<string>AIzaSyDnWiLptMJ9BGD2En7Zc1BohcYV0jzo2rY</string>
	<key>GCM_SENDER_ID</key>
	<string>512467840540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7dc08</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7dc08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512467840540:ios:fd5e688774a0bf23cbf9d9</string>
</dict>
</plist>